* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

/* menu2 */
/*  width: 100px;
    height: 110px;
    padding: 40px 10px; */

nav {
  width: 100%;
}
ul {
  padding: 0px;
  margin: 0 0 0 800px;
  list-style: none;
}
li {
    display: inline;
    padding-left: 20px;
}
.logo img {
  position: absolute;
  margin-top: 5px;
  margin-left: 50px;
  height: 100px;
  border-radius: 50%;
} 
nav a {
    display: inline-block;
    height: 110px;
    padding-top: 40px;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: black;
}

nav a:hover {
  color: red;
}
.banner img {
  vertical-align: center;
  width: 100%;
  height: 450px;
  object-fit: cover;
  padding-top: 2px;


}
.banner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid black;
}

.container-intro h2 p {
  color: red;
} 

.container-intro, .content1 {
  max-width: 80% ;
  margin-left: auto;
  margin-right: auto;
}

.wrap-intro {
  padding: 30px 0px;
}
.intro-content, .btn-intro {
  text-align: center;
  
}
.intro-header h2 p, .cont2-header h2 p {
  font-size: 16px;
  font-weight: 700;
  color: #17aa9d;
  font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
  padding-bottom: 10px;
  letter-spacing: 2px;
  
}
.intro-header span, .cont2-header span {
  font-size: 40px;
  font-weight: 100;
  color: red;
  font-family: 'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B', Helvetica, sans-serif;
  letter-spacing: 1px;
}

.intro-text, .cont1-content {
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
}

.intro-text span { 
  color: #17aa9d;
  font-weight: bold;
}

button {
  padding: 20px;
  background-color: black;
  border-radius: 15px;
  font-size: 13px;
  letter-spacing: 2px;
  
}

.btn-intro a {
  text-decoration: none;
  color: white;
}

.cont1 {
  background-color: rgb(223, 217, 217)
}

.content1 {
  display: block;
  text-align: center;
  margin-top: 40px;
  
}

.cont1-content {
  display: block;
}

.content1 h2 p {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #17aa9d;
  font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
  padding-bottom: 10px;
  letter-spacing: 2px;

}

.cont1-ask {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
  letter-spacing: 1px;
}

.cont1-ask p a {
  display: inline-block;
  border-bottom: 1px solid rgb(90, 89, 89);
  padding-bottom: 5px;
  text-decoration: none;
  color: rgb(90, 89, 89);
}

.cont1-text span {
  color: rgb(167, 214, 96)
}

/* .cont2-content {
  display: block;
  text-align: center;
  margin-top: 40px;
  max-width: 50%;
  height: 500px;
  background-color: greenyellow;
}

.cont2-img img {
  height: 500px;
  max-width: 50%;
}

.cont2-wrap {
  padding-top: 250px;
}
.cont2 {
  max-width: 100%;
}
 */
 img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

}
.wrapper {
 margin-left: -5px;
 margin-right: -5px; 
 text-align: center;
}

.item-wrapper {
  display: inline-block;
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: auto;
  vertical-align: middle;
  /* background-color: grey; */
}

.cont2 {
  padding-bottom: 30px
}

.cont2-text {
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
}