* {
    margin: 0;
    padding: 0;
}

.logo {
    text-align: center;
    background-image: url(test/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo img {
    height: 150px;
    border-radius: 50%;
    padding-top: 5px;
    box-shadow: 
}

body {
    background-color: hsl(0, 0%, 100%);
}

h1 {
    text-align: center; 
}

h3 {
    background-color:  rgb(73, 83, 76);
    color: lightsalmon;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    padding: 5px; 
    font-size: 20px;
    
} 

h4.page-head {
    text-align: center;
    padding: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
}

.navbar ul {
    text-align: center;
    background-color: rgb(73, 83, 76);
}

.navbar ul li {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none; /* loại bỏ gạch chân của thẻ a */
    color: rgb(252, 246, 246);
    display: block;
}

.content1 p, .content2 p {
    margin-left: 25px;
}

.content2 h4 {
    margin-left: 10px;
    
}

.content3 { /* Kỹ thuật CSS cover art, sử dụng khi ảnh có size khác nhau hiển thị ảnh trong 1 khung giống nhau */
    width: 100%;
    height: auto;
  
    text-align: center;
    background-color: rgb(248, 239, 228);
}

.teacher-pic { /* xử lý khung ảnh ngoài */ 
    width: 300px;
    height: 500px;
    display: inline-block;
    padding: 15px;
  
}

.img { /* xử lý ảnh ở trong */
    width: 300px;
    height: 450px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}

.info {
    text-align: center;
    padding-top: 20px
}

.timetable {
    text-align: center;
    background-color: cadetblue;
    padding: 10px;
}

.timetable img {
    border-radius: 10px;
    border-width: 3px;
}

.page-teacher p {
    text-align: center;
    padding: 5px
}

.img-time {
    width: 100%;
    height: auto;
    padding: 10px; 
    text-align: center;
    background-color: rgba(109, 142, 233, 0.63);
}

