* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 400px;
    margin: auto;
    background-color: lightcoral;
}

.fullname {
    width: 100% ;

}

.sub-name {
    width: 50%;
    float: left;
    margin-bottom: 6px;
    display: inline-block;
    padding:0 6px;
} 
input, select {
    font-size: 17px;
    padding: 14px 16px;
    width: 100%;
    border: 1px solid rgb(219, 216, 216);
    border-radius: 6px;
}

.select-birth {
    width: 33.33%;
    margin: -2px;
}
.password, .mobi-num, .cont-sex, .birthday  {
    margin-top: 6px;
}

.cont-sex {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    width: 33.33%;
    height: 50px;
    margin-left: -3px ;
    display: inline-block;
}

.slt, .opt {
    margin-top: 6px;
}



