* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  color: #6c6c6f;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
}
ul {
  margin: 0;
}
li {
  display: inline-block;
  padding: 0 15px;
}
li a,
a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rufina", serif;
  font-weight: 700;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 1140px;
  }
}

/* Header Postion */
.header.abs-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* Banner  */
.banner {
  background: url(img/leaf.png) no-repeat left center/12.5%;
  padding: 12% 0;
}

.spa-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 43.4%;
}

.spa-img img {
  display: block;
  width: 100%;
  height: auto;
}

/* Banner-content */
.banner span {
  color: #ff817e;
  display: block;
  font-family: "Rufina", serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.banner h2 {
  color: #1e2528;
  font-size: 60px;
  font-weight: 550;
  line-height: 75px;
  margin-bottom: 25px;
}
.banner p {
  color: #555;
  margin-bottom: 50px;
}
.btn {
  background-color: #ff817e;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.8;
  text-transform: uppercase;
  min-width: 170px;
  padding: 20px 15px;
}

.video-btn {
  color: #555;
  font-size: 15px;
  font-weight: 400;
  margin-left: 15px;
}

.video-btn i {
  border-radius: 50%;
  background-color: #fcf5ee;
  color: #ff817e;
  display: inline-block;
  line-height: 44px;
  text-align: center;
  margin-right: 10px;
  height: 44px;
  width: 44px;
}

/* About */
section.about {
    padding: 50px 0 ;
}
.about {
  position: relative;
  text-align: center;
}

.sec-heading {
    margin-bottom: 70px;
}

.sec-heading img {
  max-width: 84px;
  margin: 0 auto 40px;
}

.sec-heading .tagline {
  color: #888;
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 0.8;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.sec-heading .sec-title {
  color: #1e2528;
  font-size: 42px;
  margin-bottom: 32px;
}

.sec-heading p {
  color: #888;
  margin-bottom: 0;
}
.btn-round {
    border-radius: 50px;
}
.about .flower-1 {
    left: 16%;
    top: 0;
    max-width: 160px;
    position: absolute;
}
.about .flower-2 {
    position: absolute;
    right: 135px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 88px;
}