* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1.7;
  color: gray;
  font-weight: 300;
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
a {
  text-decoration: none;
}

@media (min-width: 992px) {
  .nav-item {
    padding: 20px 10px;
    font-size: 15px;
  }
  .dropdown-item {
    font-size: 15px;
  }
  .feature-text h2 {
    font-size: 5rem !important;
  }
  .bg-image {
    width: 100%;
  }
  .slick-slide {
    padding: 50px !important;
  }
  .class-price {
    font-weight: 700 !important;
    font-size: 2rem !important;
    width: 100px !important;
    height: 100px !important;
    line-height: 100px !important;
  }
  .class-heading {
    font-size: 3rem !important;
  }
  .sched-text {
    width: 50%;
    padding: 40px !important;
  }
  .bg-image {
    width: 50%;
  }
}

@media (max-width: 990px) {
  .bg-image {
    height: 200px;
  }
}

.site-bar-top {
  font-size: 1.5rem;
}
.navbar-brand {
  color: #fff !important;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.nav-link {
  color: rgba(255, 255, 255, 0.6) !important;
}
.nav-item a:hover {
  color: rgba(255, 255, 255, 1) !important;
}
.site-bar-wrap {
  width: 100%;
  z-index: 10;
}
.site-bar-wrap span,
.site-bar-wrap i {
  color: white;
}
.site-nav-bar {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar-light .navbar-toggler {
  border: 0;
}
.site-blocks-cover {
  background-image: url(img/banner.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}
.site-blocks-cover > .container > .row {
  height: calc(100vh);
  min-height: 600px;
}
.site-blocks-cover::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}
.site-blocks-cover h1 {
  font-size: 6rem;
  font-weight: 700;
  color: #fff;
}
.site-blocks-cover .sub-text {
  font-size: 2rem;
  color: #fff;
}
.site-blocks-cover i {
  font-size: 5rem;
}
.site-blocks-cover span {
  font-size: 1.5rem;
}
.blocks-social {
  color: rgba(255, 255, 255, 1);
}
.blocks-wrapper {
  z-index: 0;
}
.blocks-wrapper a {
  color: rgba(255, 255, 255, 1);
}
.blocks-wrapper i:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.feature-horizon {
  width: 80px;
  height: 2px;
  background: #6610f2;
}
.feature-text h2 {
  font-size: 3rem;
  position: relative;
  padding-top: 30px;
  z-index: 2;
  text-transform: uppercase;
  font-weight: 800;
  color: black;
}

.feature-text p,
.btn {
  font-size: 16px !important;
}

.btn {
  border-width: 2px;
  margin-left: 5px;
}
.btn-primary {
  background-color: #6610f2;
  border-color: #6610f2;
  padding: 6px 12px;
}

.btn-primary:hover {
  color: #000;
  border-color: #6610f2;
  background-color: transparent !important;
}

/* Slider */
.slider-wrapper {
  line-height: 0;
}
.slider-item img {
  width: 100%;
  opacity: 0.6;
}
.slick-center img {
  opacity: 1;
}

.slick-current.slick-center {
  transform: scale(1.2);
}
.slider-text {
  -webkit-box-orient: vertical;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.slider-wrapper {
  line-height: 0;
}
.slider-item {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.363);
}
.slick-center img {
  opacity: 1 !important;
}
.slick-slide {
  padding: 20px;
}
.slick-current.slick-center {
  transform: scale(1.2);
}
.slider-text {
  -webkit-box-orient: vertical;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.class-price {
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  background: #6610f2;
  border-radius: 50%;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  border: 2px solid transparent;
}
.class-heading {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.slider-item img {
  opacity: 0.6;
}
.slider-item:hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in-out;
}
.slider-text:hover p {
  border: 2px solid white;
  background: none;
}
.feature {
  padding: 70px 0;
}

/* Schedule */
.schudule {
  padding: 70px 0;
}
.sched-image img {
  width: 100%;
}
.sched-text {
  padding: 25px;
}
.sched-text h3 {
  font-size: 2rem;
  color: black;
}
.sched-text p {
  font-size: 1.6rem;
}
.sched-text button {
  font-size: 1.3rem !important;
  margin: 0;
}
.sched-time span {
  font-size: 1.3rem;
  color: black;
  font-weight: 500;
}
.bg-image {
  background-size: cover;
  background-position: center center;
}

/* About */
.about {
  padding: 7rem 0;
}
.img-overlap1 {
  max-width: 90%;
}
.img-overlap2 {
  bottom: -20%;
  right: -1%;
  max-width: 60%;
  position: absolute;
  border: 10px solid #fff;
}

/* Events */
.event,
.touch {
  padding: 7rem 0;
}
/* Gallery */
.gallery {
  padding: 7rem 0;
}
.item {
  padding-right: 15px;
  padding-left: 15px;
}
.item a {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.item-wrap {
  display: block;
}

.item-wrap i {
  font-size: 20px;
  top: 50%;
  left: 50%;
  right: 50%;
  z-index: 3;
  color: #fff;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  font-size: 1.7rem;
  opacity: 1;
  visibility: hidden;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.item .item-wrap:hover i {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}

.item a img {
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.item:hover a img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

/* Touch */
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 16px;
}

.form-control {
  height: 47px;
}
.form-group {
  margin-bottom: 1rem;
}

h4 {
  color: #000;
  font-size: 2.4rem;
}

.touch-text {
  font-size: 1.6rem;
}

/* footer */
.site-footer {
  padding: 4em 0;
  background: #333333;
}
.site-footer ul li {
  line-height: 1.3;
  margin-bottom: 20px;
  display: block;
}
.site-footer a {
  color: #b3b3b3;
  font-size: 1.6rem;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-footer a:hover {
  color: white;
}
.site-footer h3 {
  font-size: 2rem;
  color: white;
}
.site-footer p {
  font-size: 1.6rem;
}
.form-subscribe .btn.btn-primary:hover {
    background: #6610f2 !important;
    color: #fff;
}