/* .slider-wrapper {
    line-height: 0;
}

.slider-item {
    overflow: hidden;
    
}

.slick-center img {
    opacity: 1 !important;
}

.slick-slide {
    padding: 50px;
}
.slick-current.slick-center {
    transform: scale(1.1);
  }

.slider-text  {
    -webkit-box-orient: vertical;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.class-price {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    background: #6610f2;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    border: 2px solid transparent;
}

.class-heading {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.slider-item img {
    width: 100%;
    opacity: 0.6;

}
.slider-item:hover img {
    opacity: 1;
    transition: .3s all ease-out;
}

.slider-text:hover p {
    border: 2px solid white;
    background: none;
} */



@media (min-width: 992px) {
    .bg-image {
        width: 100%;
    }
}

@media (max-width: 990px) {
    .bg-image {
        height: 200px;
    }
}

.bg-image {
    background-size: cover;
    background-position: center center;
}