* {
    margin: 0;
    padding: 0;
  }
  .nav-background {
    background-image: url(test/background2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
     
  }
  .nav-logo {
    text-align: center;
  }
  
  .nav-logo img {
    height: 150px;
    border-radius: 50%;
    margin-top: 5px;
    text-align: center;
    border: 3px solid white;
  }
  
  .nav-list ul {
    text-align: center;
    background-color: #6190E8;
    padding: 10px;
  
  }
  
  .nav-list li {
    display: inline;
    padding: 10px;
    font-size: 20px;
    /* font-family: ; */
  }
  
  .nav-list a:hover {
    color: rgb(24, 47, 255);
  }
  .nav-list a {
    text-decoration: none;
    color: white;
  }

  .container-1 {
    width: 100%;
    overflow: auto;
  }

  .cont1-img img {
    width: 50%;
    height: 300px;
    float: left;
    padding: 5px;
    object-fit: cover;
  }

  .cont1-text {
    text-indent: 10px;
    font-size: 20px;
    margin: 10px;
  }
  
  .container-2 {
    width: 100%;
    overflow: auto;
  }

  .cont2-img img {
    width: 50%;
    height: 400px;
    float: right;
    padding: 5px;
    object-fit: cover;
  }
  .cont2-text {
    text-indent: 10px;
    font-size: 20px;
    margin: 10px;
  }
 
  .footer {
    width: 100%;
    height: 200px;
    overflow: auto;
    padding-left: 20px;
    padding-top: 10px;
    background-color: #A7BFE8;
  }
  
  .footer-left {
    width: 33.33333%;
    float: left;
    text-align: center;
  }
  
  .footer-center{
    width: 33.33333%;
    float: left;
    text-align: center;
  }
  
  .footer-right {
    text-align: center;
  }
  .footer-right img {
    height: 150px;
    padding: 20px;
    border-radius: 50%
  } 