body {
  background: #e5e5e5 !important;
}
li {
  list-style: none;
}
.fonts-search {
  border: 1px solid black;
  top: 45px;
    width: 250px;
    right:265px;
  height: auto;
  border-radius: 3px;
  background-color: white;
}

.fonts-search ul {
  padding: 0;
  margin: 0;
}
.fonts-search li {
  /* line-height: 29px; */
  padding: 5px 0 5px 15px;
  font-size: 12px;
  font-family: 'Fira Sans', sans-serif;
}
.fonts-search li:hover {
  cursor: pointer;
}
.fonts-search input {
  padding: 10px 0px 10px 15px;
  border: none;
  border-bottom: 1px solid #e8ecf0;
  font-size: 13px;
}
.box-text {
    background-color: white;
    width: 608px;
    height: auto;
    top: 40px;
    right: 570px;
}
.text-content {
    padding: 30px 30px 190px 30px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 26px;;
}
.text-content span {
    font-weight: bold;
}
.box-editor {
  background-color: white;
  border-left: 1px solid #e8ecf0;
  width: 270px !important;
  padding-top: 17px;
  height: 100%;
  right: 0px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 12px;
}
.box-editor h6 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    padding-left: 15px;
}
.body > div {
  height: 100%;
}

#select-text p,
#select-font p,
#select-letter p,
#select-color p {
  margin: 0;
}

#select-text p,
#font-style p {
  padding-left: 16px;
}

#select-text svg,
#font-style svg,
#select-color svg {
  position: absolute;
  right: 10px;
}
#font-size svg {
  position: absolute;
  right: 50px;
}
#font-size p {
  position: absolute;
  right: 25px;
}

.select-box,
#select-btn {
  width: 240px;
  height: 40px;
  border: 1px solid #e8ecf0;
  border-radius: 4px;
  margin-bottom: 10px;
}

#font-style {
  border-right: 1px solid #e8ecf0;
  padding-right: 125px;
  height: 100%;
}

.box-color {
  border-radius: 3px;
  border: 1px solid #e8ecf0;
  background-color: white;
  width: 18px;
  height: 18px;
  margin-left: 12px;
  margin-right: 10px;
}
.line-height svg {
  margin-left: 12px;
  margin-right: 10px;
}

.line-height {
  height: 100%;
  border-right: 1px solid #e8ecf0;
  padding-right: 25%;
}
.line-height p {
  color: #333333;
}
.line-height span {
  position: absolute;
  right: 10px;
  color: #aab2bb;
}

.letter-spacing svg {
  position: absolute;
  right: 95px;
}
.letter-spacing p {
  position: absolute;
  right: 70px;
}
.letter-spacing span {
  position: absolute;
  right: 10px;
  color: #aab2bb;
}
.selectors a {
  cursor: pointer;
}

svg {
  cursor: pointer;
}

#select-btn {
  border: 0;
  background: #2ac45d;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

#select-align svg {
  color: blue;
}

.active {
  border: 2px solid #13a4ec;
}
.selected {
  background-color: #13a4ec;
  color: white;
}
.link-setting input {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    background-color: #2D3A41;
    color: white;
    padding: 2px 50px 2px 10px;
    border-radius: 4px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(169, 179, 187, 0.5);
}

.link-setting > div {
    position: absolute;
    left: 185px;
}