
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container-logo {
    width: 1200px;
    height: 70px;
    margin: auto;
    position: relative;
}

.logo img {
    height: 50px;
    position: relative;
    top: 10px
}
.container-menu-banner {
    width: 100%;
    background-color: rgb(4, 16, 51)
}
.cont-menu-banner {
    width: 1200px;
    height: 350px;
    
    margin: auto;
  
}
.cont-menu ul li {
    list-style-type: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
   
}
.main-menu {
    width: 200px;
    height: 350px;
    background-color: rgb(249, 249, 249);
    display: block;
    position: relative;
    z-index: 2;
}
.menu-item {
    padding: 6px;
    top:10px;
    position: relative;
    text-decoration: none;
}
#menu-item1:hover .drop-side1, #menu-item2:hover .drop-side2 {
    display: block;
    opacity: 1;
    box-shadow: 0 0 2px black;
    
}

.menu-link {
    text-decoration: none;
    color: black;
}

.drop-side1 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 200px;
    height: 350px;
    right: -201px;
    top: -10px;
    opacity: 0;
    /* transition: opacity 0.5s;   */
}
.drop-side2 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 200px;
    height: 350px;
    right: -201px;
    top: -37px;
    opacity: 0;
    /* transition: opacity 0.5s;   */
}
.drop-side3 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 200px;
    height: 350px;
    right: -201px;
    top: -64px;
    opacity: 0;
    /* transition: opacity 0.5s;   */
}

.sub-menu1, .sub-menu2, .sub-menu3 {
    padding: 6px;
    top:10px;
    text-decoration: none;
}

.cont-banner img {
    display: block;
    position: absolute;
    width: 970px;
    height: 350px;
    top: 70px;
    left:470px;
    z-index: 1;
}


